<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Computor V1 - Solution</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<div class="container-fluid">
	      <div class="row">
	        <div class="col-lg-12 text-center">
	        	<h1 class="mt-5">Computor V1</h1>
				{% block content %}
					{% for line in content %}
			        	<p class="lead">{{ line }}</p>
					{% endfor %}
				{% endblock %}
				<a class="btn btn-danger" href="/solver/" role="button">Back</a>
	        </div>
	      </div>
	</div>
	</body>
</html>