<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Computor V1 - Solver</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/solver.css' %}">
	</head>
	<body>
		<div class="container-fluid">
	      <div class="row">
	        <div class="col-12 text-center">
	          <h1 class="mt-5">Computor V1</h1>
	          <p class="lead">Solve a polynomial equation up to degree 2</p>
			  <p class="lead">Format: n * X^[0-2]</p>
			  <form action="/solver/" method="post">
				  <div class="form-group">
					  {% csrf_token %}
				      {{ form }}
				  </div>
				  <input type="submit" class="btn btn-danger" value="Solve"/>
			  </form>
		  	</div>
	      </div>
	</div>
	</body>
</html>